@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #f0f0f0;
  color: #000;
  font-size: 0.875rem;
}
a {
  color: #000;
  font-size: 0.875rem;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
.logo {
  width: 100px;
  line-height: 1px;
  margin-right: 60px;
}
.logo a {
  display: block;
}
.section-title {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 50px;
}
.section-title .en {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.3rem;
  margin-bottom: 10px;
}
.section-title .ja {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 36px;
}
.section-title::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
}
.wrapper {
  width: 100%;
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

#header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .inner {
  display: flex;
  align-items: center;
}
#header .inner ul {
  display: flex;
  align: center;
}
#header .inner li {
  margin-right: 30px;
}
#header .inner li:last-child {
  margin-right: 0;
}
#header .contact {
  width: 200px;
  height: 80px;
  line-height: 80px;
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  display: inline-block;
  text-align: center;
}

#mainvisual {
  margin-bottom: 120px;
}
#mainvisual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

/* NEWS list */
#news {
  margin-bottom: 120px;
}
#news .list {
  display: flex;
  justify-content: space-between;
}
#news .list li {
  width: calc(100% / 3);
  border-right: solid 1px #000;
  padding: 10px 20px;
}
#news .list li:first-child {
  padding-left: 0;
}
#news .list li .date-area {
  margin-bottom: 16px;
}
#news .list li .date-area span {
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  margin-left: 10px;
  text-align: center;
}
#news .list li:last-child {
  border-right: none;
  padding-right: 0;
}
/* ABOUT */
#about {
  display: flex;
  margin-bottom: 120px;
}
#about .img {
  width: 55%;
}
#about .img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
#about .text {
  width: 45%;
  padding: 180px 5% 0 5%;
}
#about .text p {
  line-height: 2.2;
}